[submodule "src/api/java/appeng/api"]
	path = src/api/java/appeng/api
	url = https://github.com/AlgorithmX2/Applied-Energistics-2-API.git
[submodule "src/main/java/DrummerMC/AE2_Addons/API"]
	path = src/main/java/DrummerMC/AE2_Addons/API
	url = https://github.com/DrummerMC/AE2-Addons-API.git
